/node_modules
client/node_modules
/public/dist/*
/logs/*
/config/
config_path.txt

# MISC
.DS_Store
.env
.vscode/*

# testing
/coverage
/__snapshots__


/sample_config
/sql

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
server.conf
